In [11]:
from dotenv import load_dotenv
import os
load_dotenv()

True

In [12]:
import sqlite3
import pandas as pd
path_db = os.getenv('DB_PATH')

conn = sqlite3.connect(path_db)
df = pd.read_sql_query("SELECT * FROM ventas", conn)
conn.close()

In [13]:
df.dtypes

id                  int64
Year              float64
Month              object
Customer           object
Product            object
Units_Sold        float64
Price_per_Unit    float64
Revenue           float64
Customer_Name      object
dtype: object

In [14]:
df['Month'].unique()

array(['Jan', None, 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug',
       'Sep', 'Oct', 'Nov', 'Dec'], dtype=object)

In [15]:
df.duplicated().sum()

np.int64(0)

In [16]:
df.isnull().sum().sum()

np.int64(4406)

In [17]:
df.count()

id                5478
Year              4920
Month             4930
Customer          4930
Product           4933
Units_Sold        4930
Price_per_Unit    4922
Revenue           4924
Customer_Name     4929
dtype: int64

In [18]:
df_limpio = df.copy()

    # 1. Eliminar duplicados
df_limpio = df_limpio.drop_duplicates()

# 2. Eliminar valores nulos
df_limpio = df_limpio.dropna()

# 3. Eliminar valores atÃ­picos
for col in ["Units_Sold", "Revenue"]:
    Q1 = df_limpio[col].quantile(0.25)
    Q3 = df_limpio[col].quantile(0.75)
    IQR = Q3 - Q1
    lim_inf = Q1 - 1.5 * IQR
    lim_sup = Q3 + 1.5 * IQR
    df_limpio = df_limpio[(df_limpio[col] >= lim_inf) & (df_limpio[col] <= lim_sup)]

In [19]:
df_limpio.count()

id                2163
Year              2163
Month             2163
Customer          2163
Product           2163
Units_Sold        2163
Price_per_Unit    2163
Revenue           2163
Customer_Name     2163
dtype: int64